body {
    font-family: 'Arial','Arial Black';
    font-style: italic;
    font-size: 11px;
    margin: 0;
    padding: 20px;
    background-color: #ede7e7;
  }

  .container {
    text-align: left;
    padding: 50px;
    background-color: 0;
    max-width: 200px;
    max-height: 600px;
    min-height: 400px;
    margin: 0 auto;
  }

  img {
    max-width: 20%;
    height: auto;
    align-content: end;
  }

  button  {
    padding: 1px 10px;
    background-color: 0;
    color: aquamarine;
    border: 0cqb;
  }
  button {
    padding: 100px, 10px;
    background-color: 0;
    color: rgb(70, 26, 26);
    font-family: 'Arial', 'Arial Black';
    font-style: italic;
    border: linen;
    cursor: url(images/cursor2.png) 16 16, auto;
    font-size: 16px;
    align-content: last baseline;
  }

  button:hover {
    background-color: #d8e3f0;
  }